body{
    background:lightseagreen;
}

h1{
    
    color:#940338;
    background-color: cornsilk;
    font-weight: bold;
    
}

#show_sketch{
    background-color: rgb(173, 6, 90);
    border: hotpink 5px solid;
    font-size: 25;
    font-weight: bold;
    float:right;
}

#sketch{
    font-size: 16px;
    font-weight: bold;
    color:#940338;
}

#label{
    font-size: 16px;
    font-weight: bold;
    color:black; 
}

#confidence{
    font-size: 16px;
    font-weight: bold;
    color:black; 
}

#score{
    font-size: 18px;
    margin-left: -700px;
    font-weight: bold;
}
#timer{
    font-size: 18px;
    float: right;
    margin-right: 300px;
    font-weight: bold;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(152, 6, 236);}
  to {box-shadow: 1px 1px 38px rgb(80, 12, 82);}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    
    
  }
